USE [master]
GO
/****** Object:  Database [freescape]    Script Date: 3/14/2018 9:51:35 PM ******/
CREATE DATABASE [freescape]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'freescape', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\freescape.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'freescape_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\freescape_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [freescape].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [freescape]
GO
USE [freescape]
GO
/****** Object:  Table [dbo].[PCPerks]    Script Date: 3/14/2018 9:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCPerks](
	[PCPerkID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[AcquiredDate] [datetime2](7) NOT NULL,
	[PerkID] [int] NOT NULL,
	[PerkLevel] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCPerkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerkLevels]    Script Date: 3/14/2018 9:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerkLevels](
	[PerkLevelID] [int] IDENTITY(1,1) NOT NULL,
	[PerkID] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[Price] [int] NOT NULL,
	[Description] [nvarchar](512) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PerkLevelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCSkills]    Script Date: 3/14/2018 9:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCSkills](
	[PCSkillID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[SkillID] [int] NOT NULL,
	[XP] [int] NOT NULL,
	[Rank] [int] NOT NULL,
	[IsLocked] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCSkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerkLevelSkillRequirements]    Script Date: 3/14/2018 9:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerkLevelSkillRequirements](
	[PerkLevelSkillRequirementID] [int] IDENTITY(1,1) NOT NULL,
	[PerkLevelID] [int] NOT NULL,
	[SkillID] [int] NOT NULL,
	[RequiredRank] [int] NOT NULL,
 CONSTRAINT [PK_PerkLevelSkillRequirements_PerkLevelSkillRequirementID] PRIMARY KEY CLUSTERED 
(
	[PerkLevelSkillRequirementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_GetPlayerEffectivePerkLevel]    Script Date: 3/14/2018 9:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_GetPlayerEffectivePerkLevel]
(	
	@PlayerID NVARCHAR(60),
	@PerkID INT,
	@SkillLevel INT
)
RETURNS TABLE 
AS
RETURN 
(
	SELECT pl.PerkLevelID ,
		   pl.PerkID ,
		   pl.Level ,
		   pl.Price ,
		   pl.Description
	FROM dbo.PerkLevels pl
	WHERE pl.PerkLevelID = (
		SELECT TOP(1) pl2.PerkLevelID
		FROM dbo.PerkLevels pl2
		LEFT JOIN dbo.PerkLevelSkillRequirements pr ON pr.PerkLevelID = pl2.PerkLevelID
		JOIN dbo.PCPerks pcp ON pcp.PerkID = pl2.PerkID
			AND pcp.PlayerID = @PlayerID
			AND pcp.PerkLevel >= pl2.Level
		JOIN dbo.PCSkills pcs ON pcs.PlayerID = pcp.PlayerID
			AND pcs.SkillID = ISNULL(pr.SkillID, pcs.SkillID)
		WHERE pcp.PerkID = @PerkID
			AND ISNULL(@SkillLevel, pcs.Rank) >= ISNULL(pr.RequiredRank, 0)
		ORDER BY pl2.Level DESC

	)
)


GO
/****** Object:  Table [dbo].[Attributes]    Script Date: 3/14/2018 9:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attributes](
	[AttributeID] [int] NOT NULL,
	[NWNValue] [int] NOT NULL,
	[Name] [nvarchar](3) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AttributeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuthorizedDMs]    Script Date: 3/14/2018 9:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizedDMs](
	[AuthorizedDMID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[CDKey] [nvarchar](20) NOT NULL,
	[DMRole] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorizedDMID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BaseItemTypes]    Script Date: 3/14/2018 9:51:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BaseItemTypes](
	[BaseItemTypeID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BaseItemTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BuildPrivacyDomain]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BuildPrivacyDomain](
	[BuildPrivacyTypeID] [int] NOT NULL,
	[Name] [nvarchar](12) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BuildPrivacyTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatChannelsDomain]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatChannelsDomain](
	[ChatChannelID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatChannelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChatLog]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChatLog](
	[ChatLogID] [bigint] IDENTITY(1,1) NOT NULL,
	[ChatChannelID] [int] NOT NULL,
	[SenderPlayerID] [nvarchar](60) NULL,
	[SenderAccountName] [nvarchar](1024) NOT NULL,
	[SenderCDKey] [nvarchar](20) NOT NULL,
	[ReceiverPlayerID] [nvarchar](60) NULL,
	[ReceiverAccountName] [nvarchar](1024) NULL,
	[ReceiverCDKey] [nvarchar](20) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[DateSent] [datetime2](7) NOT NULL,
	[SenderDMName] [nvarchar](60) NULL,
	[ReceiverDMName] [nvarchar](60) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChatLogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientLogEvents]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientLogEvents](
	[ClientLogEventID] [int] IDENTITY(1,1) NOT NULL,
	[ClientLogEventTypeID] [int] NOT NULL,
	[PlayerID] [nvarchar](60) NULL,
	[CDKey] [nvarchar](20) NOT NULL,
	[AccountName] [nvarchar](1024) NOT NULL,
	[DateOfEvent] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_ClientLogEvents_ClientLogEventID] PRIMARY KEY CLUSTERED 
(
	[ClientLogEventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ClientLogEventTypesDomain]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClientLogEventTypesDomain](
	[ClientLogEventTypeID] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ClientLogEventTypesDomain_ClientLogEventTypeID] PRIMARY KEY CLUSTERED 
(
	[ClientLogEventTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConstructionSiteComponents]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstructionSiteComponents](
	[ConstructionSiteComponentID] [int] IDENTITY(1,1) NOT NULL,
	[ConstructionSiteID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[StructureComponentID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConstructionSiteComponentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ConstructionSites]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ConstructionSites](
	[ConstructionSiteID] [int] IDENTITY(1,1) NOT NULL,
	[PCTerritoryFlagID] [int] NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[StructureBlueprintID] [int] NOT NULL,
	[LocationAreaTag] [nvarchar](64) NOT NULL,
	[LocationX] [float] NOT NULL,
	[LocationY] [float] NOT NULL,
	[LocationZ] [float] NOT NULL,
	[LocationOrientation] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ConstructionSiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CooldownCategories]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CooldownCategories](
	[CooldownCategoryID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[BaseCooldownTime] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CooldownCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CraftBlueprintCategories]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CraftBlueprintCategories](
	[CraftBlueprintCategoryID] [bigint] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CraftBlueprintCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CraftBlueprintComponents]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CraftBlueprintComponents](
	[CraftComponentID] [bigint] IDENTITY(1,1) NOT NULL,
	[CraftBlueprintID] [bigint] NOT NULL,
	[ItemResref] [nvarchar](16) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CraftComponentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CraftBlueprints]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CraftBlueprints](
	[CraftBlueprintID] [bigint] NOT NULL,
	[CraftID] [bigint] NOT NULL,
	[CraftCategoryID] [bigint] NOT NULL,
	[Level] [int] NOT NULL,
	[ItemName] [nvarchar](64) NOT NULL,
	[ItemResref] [nvarchar](16) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CraftBlueprintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Crafts]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Crafts](
	[CraftID] [bigint] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CraftID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Creatures]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Creatures](
	[CreatureID] [int] NOT NULL,
	[DifficultyRating] [float] NOT NULL,
	[XPModifier] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CreatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomEffects]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomEffects](
	[CustomEffectID] [bigint] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[IconID] [int] NOT NULL,
	[ScriptHandler] [nvarchar](64) NOT NULL,
	[StartMessage] [nvarchar](64) NOT NULL,
	[ContinueMessage] [nvarchar](64) NOT NULL,
	[WornOffMessage] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomEffectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DMRoleDomain]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DMRoleDomain](
	[DMRoleDomainID] [int] NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DMRoleDomainID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Downloads]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Downloads](
	[DownloadID] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
	[Url] [nvarchar](200) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Downloads_DownloadID] PRIMARY KEY CLUSTERED 
(
	[DownloadID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FameRegions]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FameRegions](
	[FameRegionID] [int] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
 CONSTRAINT [QuestFameRegions_FameRegionID] PRIMARY KEY CLUSTERED 
(
	[FameRegionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Items]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Items](
	[Resref] [nvarchar](16) NOT NULL,
	[AC] [int] NOT NULL,
	[ItemTypeID] [int] NOT NULL,
	[RecommendedLevel] [int] NOT NULL,
	[LoggingBonus] [int] NOT NULL,
	[MiningBonus] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Resref] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ItemTypes]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ItemTypes](
	[ItemTypeID] [int] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeyItemCategories]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyItemCategories](
	[KeyItemCategoryID] [int] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyItemCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KeyItems]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KeyItems](
	[KeyItemID] [int] NOT NULL,
	[KeyItemCategoryID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Description] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KeyItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LootTableItems]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LootTableItems](
	[LootTableItemID] [int] IDENTITY(1,1) NOT NULL,
	[LootTableID] [int] NOT NULL,
	[Resref] [varchar](16) NOT NULL,
	[MaxQuantity] [int] NOT NULL,
	[Weight] [tinyint] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LootTableItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LootTables]    Script Date: 3/14/2018 9:51:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LootTables](
	[LootTableID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LootTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NPCGroups]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NPCGroups](
	[NPCGroupID] [int] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_NPCGroups_NPCGroupID] PRIMARY KEY CLUSTERED 
(
	[NPCGroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCBlueprints]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCBlueprints](
	[PCBlueprintID] [bigint] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[CraftBlueprintID] [bigint] NOT NULL,
	[AcquiredDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCBlueprintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCCooldowns]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCCooldowns](
	[PCCooldownID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[CooldownCategoryID] [int] NOT NULL,
	[DateUnlocked] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCCooldownID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCCorpseItems]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCCorpseItems](
	[PCCorpseItemID] [bigint] IDENTITY(1,1) NOT NULL,
	[PCCorpseID] [bigint] NOT NULL,
	[NWItemObject] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCCorpseItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCCorpses]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCCorpses](
	[PCCorpseID] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[PositionX] [float] NOT NULL,
	[PositionY] [float] NOT NULL,
	[PositionZ] [float] NOT NULL,
	[Orientation] [float] NOT NULL,
	[AreaTag] [nvarchar](32) NULL,
PRIMARY KEY CLUSTERED 
(
	[PCCorpseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCCustomEffects]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCCustomEffects](
	[PCCustomEffectID] [bigint] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[CustomEffectID] [bigint] NOT NULL,
	[Ticks] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCCustomEffectID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCKeyItems]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCKeyItems](
	[PCKeyItemID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[KeyItemID] [int] NOT NULL,
	[AcquiredDate] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCKeyItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCMigrationItems]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCMigrationItems](
	[PCMigrationItemID] [int] NOT NULL,
	[PCMigrationID] [int] NOT NULL,
	[CurrentResref] [nvarchar](16) NOT NULL,
	[NewResref] [nvarchar](16) NOT NULL,
	[StripItemProperties] [bit] NOT NULL,
	[BaseItemTypeID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCMigrationItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCMigrations]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCMigrations](
	[PCMigrationID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCMigrationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCOutfits]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCOutfits](
	[PlayerID] [nvarchar](60) NOT NULL,
	[Outfit1] [varbinary](max) NULL,
	[Outfit2] [varbinary](max) NULL,
	[Outfit3] [varbinary](max) NULL,
	[Outfit4] [varbinary](max) NULL,
	[Outfit5] [varbinary](max) NULL,
	[Outfit6] [varbinary](max) NULL,
	[Outfit7] [varbinary](max) NULL,
	[Outfit8] [varbinary](max) NULL,
	[Outfit9] [varbinary](max) NULL,
	[Outfit10] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCOverflowItems]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCOverflowItems](
	[PCOverflowItemID] [bigint] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[ItemName] [nvarchar](max) NOT NULL,
	[ItemTag] [nvarchar](64) NOT NULL,
	[ItemResref] [nvarchar](16) NOT NULL,
	[ItemObject] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCOverflowItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCQuestKillTargetProgress]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCQuestKillTargetProgress](
	[PCQuestKillTargetProgressID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[PCQuestStatusID] [int] NOT NULL,
	[NPCGroupID] [int] NOT NULL,
	[RemainingToKill] [int] NOT NULL,
 CONSTRAINT [PK_PCQuestKillTargetProgress_PCQuestKillTargetProgressID] PRIMARY KEY CLUSTERED 
(
	[PCQuestKillTargetProgressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCQuestStatus]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCQuestStatus](
	[PCQuestStatusID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[QuestID] [int] NOT NULL,
	[CurrentQuestStateID] [int] NOT NULL,
	[CompletionDate] [datetime2](7) NULL,
	[SelectedItemRewardID] [int] NULL,
 CONSTRAINT [PK_PCQuestStatus_PCQuestStatusID] PRIMARY KEY CLUSTERED 
(
	[PCQuestStatusID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCRegionalFame]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCRegionalFame](
	[PCRegionalFameID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[FameRegionID] [int] NOT NULL,
	[Amount] [int] NOT NULL,
 CONSTRAINT [PK_PCRegionalFame_PCRegionalFameID] PRIMARY KEY CLUSTERED 
(
	[PCRegionalFameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCSearchSiteItems]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCSearchSiteItems](
	[PCSearchSiteItemID] [bigint] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[SearchSiteID] [int] NOT NULL,
	[SearchItem] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCSearchSiteItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCSearchSites]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCSearchSites](
	[PCSearchSiteID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[SearchSiteID] [int] NOT NULL,
	[UnlockDateTime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCSearchSiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCTerritoryFlags]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCTerritoryFlags](
	[PCTerritoryFlagID] [int] IDENTITY(1,1) NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[StructureBlueprintID] [int] NOT NULL,
	[LocationAreaTag] [nvarchar](64) NOT NULL,
	[LocationX] [float] NOT NULL,
	[LocationY] [float] NOT NULL,
	[LocationZ] [float] NOT NULL,
	[LocationOrientation] [float] NOT NULL,
	[BuildPrivacySettingID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCTerritoryFlagID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCTerritoryFlagsPermissions]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCTerritoryFlagsPermissions](
	[PCTerritoryFlagPermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PCTerritoryFlagID] [int] NOT NULL,
	[PlayerID] [nvarchar](60) NOT NULL,
	[TerritoryFlagPermissionID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCTerritoryFlagPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCTerritoryFlagsStructures]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCTerritoryFlagsStructures](
	[PCTerritoryFlagStructureID] [bigint] IDENTITY(1,1) NOT NULL,
	[PCTerritoryFlagID] [int] NOT NULL,
	[StructureBlueprintID] [int] NOT NULL,
	[IsUseable] [bit] NOT NULL,
	[LocationAreaTag] [nvarchar](64) NOT NULL,
	[LocationX] [float] NOT NULL,
	[LocationY] [float] NOT NULL,
	[LocationZ] [float] NOT NULL,
	[LocationOrientation] [float] NOT NULL,
	[CreateDate] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCTerritoryFlagStructureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCTerritoryFlagsStructuresItems]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCTerritoryFlagsStructuresItems](
	[PCStructureItemID] [bigint] IDENTITY(1,1) NOT NULL,
	[PCStructureID] [bigint] NOT NULL,
	[ItemName] [nvarchar](max) NOT NULL,
	[ItemTag] [nvarchar](64) NOT NULL,
	[ItemResref] [nvarchar](16) NOT NULL,
	[ItemObject] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PCStructureItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PCTerritoryFlagsStructuresResearchQueues]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PCTerritoryFlagsStructuresResearchQueues](
	[PCStructureResearchID] [int] IDENTITY(1,1) NOT NULL,
	[PCStructureID] [bigint] NOT NULL,
	[ResearchBlueprintID] [int] NOT NULL,
	[ResearchSlot] [int] NOT NULL,
	[StartDateTime] [datetime2](7) NOT NULL,
	[CompletedDateTime] [datetime2](7) NOT NULL,
	[IsCanceled] [bit] NOT NULL,
	[DeliverDateTime] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[PCStructureResearchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerkCategories]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerkCategories](
	[PerkCategoryID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Sequence] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PerkCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Perks]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Perks](
	[PerkID] [int] NOT NULL,
	[Name] [varchar](64) NOT NULL,
	[FeatID] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[JavaScriptName] [varchar](64) NOT NULL,
	[BaseManaCost] [int] NOT NULL,
	[BaseCastingTime] [float] NOT NULL,
	[Description] [nvarchar](256) NOT NULL,
	[PerkCategoryID] [int] NOT NULL,
	[CooldownCategoryID] [int] NULL,
	[IsQueuedWeaponSkill] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PerkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PlayerCharacters]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PlayerCharacters](
	[PlayerID] [nvarchar](60) NOT NULL,
	[CharacterName] [nvarchar](max) NULL,
	[HitPoints] [int] NOT NULL,
	[LocationAreaTag] [nvarchar](64) NOT NULL,
	[LocationX] [float] NOT NULL,
	[LocationY] [float] NOT NULL,
	[LocationZ] [float] NOT NULL,
	[LocationOrientation] [float] NOT NULL,
	[CreateTimestamp] [datetime2](0) NOT NULL,
	[MaxHunger] [int] NOT NULL,
	[CurrentHunger] [int] NOT NULL,
	[CurrentHungerTick] [int] NOT NULL,
	[UnallocatedSP] [int] NOT NULL,
	[NextSPResetDate] [datetime2](0) NULL,
	[NumberOfSPResets] [int] NOT NULL,
	[ResetTokens] [int] NOT NULL,
	[NextResetTokenReceiveDate] [datetime2](0) NULL,
	[HPRegenerationAmount] [int] NOT NULL,
	[RegenerationTick] [int] NOT NULL,
	[RegenerationRate] [int] NOT NULL,
	[VersionNumber] [int] NOT NULL,
	[MaxMana] [int] NOT NULL,
	[CurrentMana] [int] NOT NULL,
	[CurrentManaTick] [int] NOT NULL,
	[RevivalStoneCount] [int] NOT NULL,
	[RespawnAreaTag] [nvarchar](64) NOT NULL,
	[RespawnLocationX] [float] NOT NULL,
	[RespawnLocationY] [float] NOT NULL,
	[RespawnLocationZ] [float] NOT NULL,
	[RespawnLocationOrientation] [float] NOT NULL,
	[DateLastForcedSPReset] [datetime2](7) NULL,
	[DateSanctuaryEnds] [datetime2](7) NOT NULL,
	[IsSanctuaryOverrideEnabled] [bit] NOT NULL,
	[STRBase] [int] NOT NULL,
	[DEXBase] [int] NOT NULL,
	[CONBase] [int] NOT NULL,
	[INTBase] [int] NOT NULL,
	[WISBase] [int] NOT NULL,
	[CHABase] [int] NOT NULL,
	[TotalSPAcquired] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlayerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestKillTargetList]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestKillTargetList](
	[QuestKillTargetListID] [int] IDENTITY(1,1) NOT NULL,
	[QuestID] [int] NOT NULL,
	[NPCGroupID] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
	[QuestStateID] [int] NOT NULL,
 CONSTRAINT [PK_QuestKillTargetList_QuestKillTargetListID] PRIMARY KEY CLUSTERED 
(
	[QuestKillTargetListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestPrerequisites]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestPrerequisites](
	[QuestPrerequisiteID] [int] IDENTITY(1,1) NOT NULL,
	[QuestID] [int] NOT NULL,
	[RequiredQuestID] [int] NOT NULL,
 CONSTRAINT [PK_QuestPreqrequisites_QuestPrerequisiteID] PRIMARY KEY CLUSTERED 
(
	[QuestPrerequisiteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestRequiredItemList]    Script Date: 3/14/2018 9:51:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestRequiredItemList](
	[QuestRequiredItemListID] [int] IDENTITY(1,1) NOT NULL,
	[QuestID] [int] NOT NULL,
	[Resref] [nvarchar](16) NOT NULL,
	[Quantity] [int] NOT NULL,
	[QuestStateID] [int] NOT NULL,
 CONSTRAINT [PK_QuestRequiredItemList_QuestRequiredItemListID] PRIMARY KEY CLUSTERED 
(
	[QuestRequiredItemListID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestRequiredKeyItemList]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestRequiredKeyItemList](
	[QuestRequiredKeyItemID] [int] IDENTITY(1,1) NOT NULL,
	[QuestID] [int] NOT NULL,
	[KeyItemID] [int] NOT NULL,
	[QuestStateID] [int] NOT NULL,
 CONSTRAINT [PK_QuestRequiredKeyItemList_QuestRequiredKeyItemID] PRIMARY KEY CLUSTERED 
(
	[QuestRequiredKeyItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestRewardItems]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestRewardItems](
	[QuestRewardItemID] [int] IDENTITY(1,1) NOT NULL,
	[QuestID] [int] NOT NULL,
	[Resref] [nvarchar](16) NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_QuestRewards_QuestRewardID] PRIMARY KEY CLUSTERED 
(
	[QuestRewardItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Quests]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Quests](
	[QuestID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[JournalTag] [nvarchar](32) NOT NULL,
	[FameRegionID] [int] NOT NULL,
	[RequiredFameAmount] [int] NOT NULL,
	[AllowRewardSelection] [bit] NOT NULL,
	[RewardGold] [int] NOT NULL,
	[RewardXP] [int] NOT NULL,
	[RewardKeyItemID] [int] NULL,
	[RewardFame] [int] NOT NULL,
	[IsRepeatable] [bit] NOT NULL,
	[MapNoteTag] [nvarchar](32) NOT NULL,
	[StartKeyItemID] [int] NULL,
	[RemoveStartKeyItemAfterCompletion] [bit] NOT NULL,
 CONSTRAINT [PK_Quests_QuestID] PRIMARY KEY CLUSTERED 
(
	[QuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestStates]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestStates](
	[QuestStateID] [int] IDENTITY(1,1) NOT NULL,
	[QuestID] [int] NOT NULL,
	[Sequence] [int] NOT NULL,
	[QuestTypeID] [int] NOT NULL,
	[JournalStateID] [int] NOT NULL,
	[IsFinalState] [bit] NOT NULL,
 CONSTRAINT [PK_QuestStates_QuestStateID] PRIMARY KEY CLUSTERED 
(
	[QuestStateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestTypeDomain]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestTypeDomain](
	[QuestTypeID] [int] NOT NULL,
	[Name] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_QuestTypeDomain_QuestTypeID] PRIMARY KEY CLUSTERED 
(
	[QuestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ResearchBlueprints]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResearchBlueprints](
	[ResearchBlueprintID] [int] IDENTITY(1,1) NOT NULL,
	[CraftBlueprintID] [bigint] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Price] [int] NOT NULL,
	[ResearchPoints] [bigint] NOT NULL,
	[SkillRequired] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ResearchBlueprintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServerConfiguration]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServerConfiguration](
	[ServerConfigurationID] [int] NOT NULL,
	[ServerName] [varchar](50) NOT NULL,
	[MessageOfTheDay] [varchar](1024) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ServerConfigurationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillCategories]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillCategories](
	[SkillCategoryID] [int] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Sequence] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillID] [int] NOT NULL,
	[SkillCategoryID] [int] NOT NULL,
	[Name] [nvarchar](32) NOT NULL,
	[MaxRank] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Description] [nvarchar](1024) NOT NULL,
	[Primary] [int] NOT NULL,
	[Secondary] [int] NOT NULL,
	[Tertiary] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SkillXPRequirement]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SkillXPRequirement](
	[SkillXPRequirementID] [int] IDENTITY(1,1) NOT NULL,
	[SkillID] [int] NOT NULL,
	[Rank] [int] NOT NULL,
	[XP] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillXPRequirementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpawnTableCreatures]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpawnTableCreatures](
	[SpawnTableCreatureID] [int] IDENTITY(1,1) NOT NULL,
	[SpawnTableID] [int] NOT NULL,
	[Resref] [nvarchar](16) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Weight] [tinyint] NOT NULL,
	[MaxNumberInArea] [int] NOT NULL,
	[LootTableID] [int] NULL,
	[DifficultyRating] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpawnTableCreatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpawnTables]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpawnTables](
	[SpawnTableID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SpawnTableID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StorageContainers]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageContainers](
	[StorageContainerID] [int] NOT NULL,
	[AreaName] [nvarchar](255) NOT NULL,
	[AreaTag] [nvarchar](64) NOT NULL,
	[AreaResref] [nvarchar](16) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StorageContainerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StorageItems]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StorageItems](
	[StorageItemID] [int] IDENTITY(1,1) NOT NULL,
	[StorageContainerID] [int] NOT NULL,
	[ItemName] [nvarchar](max) NOT NULL,
	[ItemTag] [nvarchar](64) NOT NULL,
	[ItemResref] [nvarchar](16) NOT NULL,
	[ItemObject] [varbinary](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StorageItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StructureBlueprints]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StructureBlueprints](
	[StructureBlueprintID] [int] NOT NULL,
	[StructureCategoryID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Description] [nvarchar](255) NOT NULL,
	[Resref] [nvarchar](16) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsTerritoryFlag] [bit] NOT NULL,
	[IsUseable] [bit] NOT NULL,
	[ItemStorageCount] [int] NOT NULL,
	[MaxStructuresCount] [int] NOT NULL,
	[MaxBuildDistance] [float] NOT NULL,
	[ResearchSlots] [int] NOT NULL,
	[RPPerSecond] [int] NOT NULL,
	[Level] [int] NOT NULL,
	[PerkID] [int] NULL,
	[RequiredPerkLevel] [int] NOT NULL,
	[GivesSkillXP] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StructureBlueprintID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StructureCategories]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StructureCategories](
	[StructureCategoryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[Description] [nvarchar](64) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsTerritoryFlagCategory] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StructureCategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StructureComponents]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StructureComponents](
	[StructureComponentID] [int] IDENTITY(1,1) NOT NULL,
	[StructureBlueprintID] [int] NOT NULL,
	[Resref] [nvarchar](16) NOT NULL,
	[Quantity] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StructureComponentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StructureQuickBuildAudit]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StructureQuickBuildAudit](
	[StructureQuickBuildID] [int] IDENTITY(1,1) NOT NULL,
	[PCTerritoryFlagID] [int] NULL,
	[PCTerritoryFlagStructureID] [bigint] NULL,
	[DMName] [nvarchar](200) NOT NULL,
	[DateBuilt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_StructureQuickBuildAudit_StructureQuickBuildID] PRIMARY KEY CLUSTERED 
(
	[StructureQuickBuildID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TerritoryFlagPermissions]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TerritoryFlagPermissions](
	[TerritoryFlagPermissionID] [int] NOT NULL,
	[Name] [nvarchar](64) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsSelectable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TerritoryFlagPermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 3/14/2018 9:51:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[DiscordUserID] [nvarchar](max) NOT NULL,
	[Username] [nvarchar](32) NOT NULL,
	[AvatarHash] [nvarchar](max) NOT NULL,
	[Discriminator] [nvarchar](4) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[RoleID] [int] NOT NULL,
	[DateRegistered] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Attributes] ([AttributeID], [NWNValue], [Name]) VALUES (0, -1, N'N/A')
INSERT [dbo].[Attributes] ([AttributeID], [NWNValue], [Name]) VALUES (1, 0, N'STR')
INSERT [dbo].[Attributes] ([AttributeID], [NWNValue], [Name]) VALUES (2, 1, N'DEX')
SET IDENTITY_INSERT [dbo].[AuthorizedDMs] ON 

INSERT [dbo].[AuthorizedDMs] ([AuthorizedDMID], [Name], [CDKey], [DMRole], [IsActive]) VALUES (1, N'zunath', N'PXDK7WRX', 2, 1)
SET IDENTITY_INSERT [dbo].[AuthorizedDMs] OFF
INSERT [dbo].[BaseItemTypes] ([BaseItemTypeID], [Name]) VALUES (-1, N'Invalid')
INSERT [dbo].[BaseItemTypes] ([BaseItemTypeID], [Name]) VALUES (0, N'shortsword')
INSERT [dbo].[BaseItemTypes] ([BaseItemTypeID], [Name]) VALUES (1, N'longsword')
GO
INSERT [dbo].[BuildPrivacyDomain] ([BuildPrivacyTypeID], [Name]) VALUES (0, N'Unknown')
INSERT [dbo].[BuildPrivacyDomain] ([BuildPrivacyTypeID], [Name]) VALUES (1, N'Owner Only')
INSERT [dbo].[BuildPrivacyDomain] ([BuildPrivacyTypeID], [Name]) VALUES (2, N'Friends Only')
INSERT [dbo].[ChatChannelsDomain] ([ChatChannelID], [Name]) VALUES (1, N'Shout')
INSERT [dbo].[ChatChannelsDomain] ([ChatChannelID], [Name]) VALUES (2, N'Whisper')
INSERT [dbo].[ChatChannelsDomain] ([ChatChannelID], [Name]) VALUES (3, N'Talk')
SET IDENTITY_INSERT [dbo].[ChatLog] ON 

INSERT [dbo].[ChatLog] ([ChatLogID], [ChatChannelID], [SenderPlayerID], [SenderAccountName], [SenderCDKey], [ReceiverPlayerID], [ReceiverAccountName], [ReceiverCDKey], [Message], [DateSent], [SenderDMName], [ReceiverDMName]) VALUES (1, 3, NULL, N'zunath', N'UPWVMPKM', NULL, NULL, NULL, N'heyo', CAST(N'2018-03-09T12:24:17.8966667' AS DateTime2), N'[DM: [DM] Zunath (UPWVMPKM)]', NULL)
INSERT [dbo].[ChatLog] ([ChatLogID], [ChatChannelID], [SenderPlayerID], [SenderAccountName], [SenderCDKey], [ReceiverPlayerID], [ReceiverAccountName], [ReceiverCDKey], [Message], [DateSent], [SenderDMName], [ReceiverDMName]) VALUES (2, 3, N'08f91e32-0ee2-4fbf-8623-c61182cec772', N'Cablefish', N'UPFKQUKC', NULL, NULL, NULL, N'Heya headless dude', CAST(N'2018-03-09T12:24:24.5933333' AS DateTime2), NULL, NULL)
INSERT [dbo].[ChatLog] ([ChatLogID], [ChatChannelID], [SenderPlayerID], [SenderAccountName], [SenderCDKey], [ReceiverPlayerID], [ReceiverAccountName], [ReceiverCDKey], [Message], [DateSent], [SenderDMName], [ReceiverDMName]) VALUES (3, 3, NULL, N'zunath', N'UPWVMPKM', NULL, NULL, NULL, N'mwhahaha', CAST(N'2018-03-09T12:24:28.4866667' AS DateTime2), N'[DM: [DM] Zunath (UPWVMPKM)]', NULL)
GO
SET IDENTITY_INSERT [dbo].[ChatLog] OFF
SET IDENTITY_INSERT [dbo].[ClientLogEvents] ON 

INSERT [dbo].[ClientLogEvents] ([ClientLogEventID], [ClientLogEventTypeID], [PlayerID], [CDKey], [AccountName], [DateOfEvent]) VALUES (1, 1, N'ee8df398-76f8-4885-826b-df4d0ce60bf2', N'UPWVMPKM', N'zunath', CAST(N'2018-03-08T14:43:42.4010000' AS DateTime2))
INSERT [dbo].[ClientLogEvents] ([ClientLogEventID], [ClientLogEventTypeID], [PlayerID], [CDKey], [AccountName], [DateOfEvent]) VALUES (2, 2, N'ee8df398-76f8-4885-826b-df4d0ce60bf2', N'UPWVMPKM', N'zunath', CAST(N'2018-03-08T14:45:34.2860000' AS DateTime2))
INSERT [dbo].[ClientLogEvents] ([ClientLogEventID], [ClientLogEventTypeID], [PlayerID], [CDKey], [AccountName], [DateOfEvent]) VALUES (3, 1, N'ee8df398-76f8-4885-826b-df4d0ce60bf2', N'UPWVMPKM', N'zunath', CAST(N'2018-03-08T14:49:19.5350000' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[ClientLogEvents] OFF
INSERT [dbo].[ClientLogEventTypesDomain] ([ClientLogEventTypeID], [Name]) VALUES (1, N'Log In')
INSERT [dbo].[ClientLogEventTypesDomain] ([ClientLogEventTypeID], [Name]) VALUES (2, N'Log Out')
INSERT [dbo].[CraftBlueprintCategories] ([CraftBlueprintCategoryID], [Name], [IsActive]) VALUES (0, N'Unknown', 0)
INSERT [dbo].[CraftBlueprintCategories] ([CraftBlueprintCategoryID], [Name], [IsActive]) VALUES (1, N'Components', 1)
INSERT [dbo].[CraftBlueprintCategories] ([CraftBlueprintCategoryID], [Name], [IsActive]) VALUES (2, N'Melee Weapons', 1)
INSERT [dbo].[Crafts] ([CraftID], [Name], [IsActive], [Description]) VALUES (1, N'Smithery', 1, N'This craft enables you to create items such as blades and armor. A Smithery Workbench is required to use this craft.')
INSERT [dbo].[Crafts] ([CraftID], [Name], [IsActive], [Description]) VALUES (3, N'Mixing', 1, N'This craft enables you to create medical kits, treatment kits, food, and other restorative items. A Mixing Table is required to use this craft.')
INSERT [dbo].[Crafts] ([CraftID], [Name], [IsActive], [Description]) VALUES (4, N'Engineering', 1, N'This craft enables you to create guns, ammo, explosives and other mechanically-based items. An Engineering Workbench is required to use this craft.')
INSERT [dbo].[CustomEffects] ([CustomEffectID], [Name], [IconID], [ScriptHandler], [StartMessage], [ContinueMessage], [WornOffMessage]) VALUES (1, N'Bleeding', 129, N'BleedingEffect', N'You start bleeding.', N'You continue to bleed...', N'You have stopped bleeding.')
INSERT [dbo].[DMRoleDomain] ([DMRoleDomainID], [Description]) VALUES (1, N'DM')
INSERT [dbo].[DMRoleDomain] ([DMRoleDomainID], [Description]) VALUES (2, N'Admin')
INSERT [dbo].[DMRoleDomain] ([DMRoleDomainID], [Description]) VALUES (3, N'Player')
INSERT [dbo].[FameRegions] ([FameRegionID], [Name]) VALUES (3, N'Global')
INSERT [dbo].[Items] ([Resref], [AC], [ItemTypeID], [RecommendedLevel], [LoggingBonus], [MiningBonus]) VALUES (N'bandages', 0, 3, 1, 0, 0)
INSERT [dbo].[Items] ([Resref], [AC], [ItemTypeID], [RecommendedLevel], [LoggingBonus], [MiningBonus]) VALUES (N'healing_kit', 0, 3, 1, 0, 0)
INSERT [dbo].[Items] ([Resref], [AC], [ItemTypeID], [RecommendedLevel], [LoggingBonus], [MiningBonus]) VALUES (N'healing_kit_p1', 0, 3, 11, 0, 0)
INSERT [dbo].[ItemTypes] ([ItemTypeID], [Name]) VALUES (1, N'Light Armor')
INSERT [dbo].[ItemTypes] ([ItemTypeID], [Name]) VALUES (2, N'Heavy Armor')
INSERT [dbo].[ItemTypes] ([ItemTypeID], [Name]) VALUES (3, N'First Aid Supplies')
INSERT [dbo].[KeyItemCategories] ([KeyItemCategoryID], [Name], [IsActive]) VALUES (0, N'Unknown', 0)
INSERT [dbo].[KeyItemCategories] ([KeyItemCategoryID], [Name], [IsActive]) VALUES (1, N'Maps', 1)
INSERT [dbo].[KeyItemCategories] ([KeyItemCategoryID], [Name], [IsActive]) VALUES (2, N'Quest Items', 1)
SET IDENTITY_INSERT [dbo].[PCPerks] ON 

INSERT [dbo].[PCPerks] ([PCPerkID], [PlayerID], [AcquiredDate], [PerkID], [PerkLevel]) VALUES (1, N'a644dace-1c9c-4c05-ad20-b2f9cde5aee1', CAST(N'2018-03-13T02:20:42.4130000' AS DateTime2), 1, 2)
INSERT [dbo].[PCPerks] ([PCPerkID], [PlayerID], [AcquiredDate], [PerkID], [PerkLevel]) VALUES (2, N'a644dace-1c9c-4c05-ad20-b2f9cde5aee1', CAST(N'2018-03-13T05:09:38.2570000' AS DateTime2), 2, 1)
INSERT [dbo].[PCPerks] ([PCPerkID], [PlayerID], [AcquiredDate], [PerkID], [PerkLevel]) VALUES (3, N'a644dace-1c9c-4c05-ad20-b2f9cde5aee1', CAST(N'2018-03-13T14:43:15.0800000' AS DateTime2), 4, 3)
SET IDENTITY_INSERT [dbo].[PCPerks] OFF
SET IDENTITY_INSERT [dbo].[PCSkills] ON 

INSERT [dbo].[PCSkills] ([PCSkillID], [PlayerID], [SkillID], [XP], [Rank], [IsLocked]) VALUES (106, N'4007c4ae-ddf5-4a5f-ab8e-a24515a36457', 1, 680, 1, 0)
INSERT [dbo].[PCSkills] ([PCSkillID], [PlayerID], [SkillID], [XP], [Rank], [IsLocked]) VALUES (107, N'4007c4ae-ddf5-4a5f-ab8e-a24515a36457', 2, 400, 0, 1)
INSERT [dbo].[PCSkills] ([PCSkillID], [PlayerID], [SkillID], [XP], [Rank], [IsLocked]) VALUES (108, N'4007c4ae-ddf5-4a5f-ab8e-a24515a36457', 3, 169, 1, 0)
GO
SET IDENTITY_INSERT [dbo].[PCSkills] OFF
SET IDENTITY_INSERT [dbo].[PCTerritoryFlags] ON 

INSERT [dbo].[PCTerritoryFlags] ([PCTerritoryFlagID], [PlayerID], [StructureBlueprintID], [LocationAreaTag], [LocationX], [LocationY], [LocationZ], [LocationOrientation], [BuildPrivacySettingID]) VALUES (67, N'b923c048-4e15-4926-b174-93635349b504', 1, N'Area001', 14.678434371948242, 10.724327087402344, 7.3841857783918385E-07, 74.63128662109375, 1)
SET IDENTITY_INSERT [dbo].[PCTerritoryFlags] OFF
SET IDENTITY_INSERT [dbo].[PCTerritoryFlagsStructures] ON 

INSERT [dbo].[PCTerritoryFlagsStructures] ([PCTerritoryFlagStructureID], [PCTerritoryFlagID], [StructureBlueprintID], [IsUseable], [LocationAreaTag], [LocationX], [LocationY], [LocationZ], [LocationOrientation], [CreateDate]) VALUES (195, 67, 112, 1, N'Area001', 14.663605690002441, 12.821043014526367, 7.3841857783918385E-07, 59.413627624511719, CAST(N'2018-03-13T15:47:54.0000000' AS DateTime2))
INSERT [dbo].[PCTerritoryFlagsStructures] ([PCTerritoryFlagStructureID], [PCTerritoryFlagID], [StructureBlueprintID], [IsUseable], [LocationAreaTag], [LocationX], [LocationY], [LocationZ], [LocationOrientation], [CreateDate]) VALUES (196, 67, 44, 0, N'Area001', 10.888538360595703, 11.340250968933106, 3.2118606441144948E-07, 155.42536926269531, CAST(N'2018-03-13T15:51:01.0000000' AS DateTime2))
INSERT [dbo].[PCTerritoryFlagsStructures] ([PCTerritoryFlagStructureID], [PCTerritoryFlagID], [StructureBlueprintID], [IsUseable], [LocationAreaTag], [LocationX], [LocationY], [LocationZ], [LocationOrientation], [CreateDate]) VALUES (197, 67, 125, 1, N'Area001', 14.855713844299316, 8.1289043426513672, 7.3841857783918385E-07, 288.76251220703125, CAST(N'2018-03-13T15:54:14.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[PCTerritoryFlagsStructures] OFF
SET IDENTITY_INSERT [dbo].[PCTerritoryFlagsStructuresItems] ON 

SET IDENTITY_INSERT [dbo].[PCTerritoryFlagsStructuresItems] OFF
INSERT [dbo].[PerkCategories] ([PerkCategoryID], [Name], [IsActive], [Sequence]) VALUES (1, N'Construction - Bonuses', 1, 2)
INSERT [dbo].[PerkCategories] ([PerkCategoryID], [Name], [IsActive], [Sequence]) VALUES (2, N'Construction - Blueprints', 1, 3)
INSERT [dbo].[PerkCategories] ([PerkCategoryID], [Name], [IsActive], [Sequence]) VALUES (3, N'Gathering', 1, 4)
SET IDENTITY_INSERT [dbo].[PerkLevels] ON 

INSERT [dbo].[PerkLevels] ([PerkLevelID], [PerkID], [Level], [Price], [Description]) VALUES (1, 1, 1, 1, N'+10% Chance')
INSERT [dbo].[PerkLevels] ([PerkLevelID], [PerkID], [Level], [Price], [Description]) VALUES (2, 1, 2, 1, N'+20% Chance')
INSERT [dbo].[PerkLevels] ([PerkLevelID], [PerkID], [Level], [Price], [Description]) VALUES (3, 1, 3, 2, N'+30% Chance')
GO
SET IDENTITY_INSERT [dbo].[PerkLevels] OFF
SET IDENTITY_INSERT [dbo].[PerkLevelSkillRequirements] ON 

INSERT [dbo].[PerkLevelSkillRequirements] ([PerkLevelSkillRequirementID], [PerkLevelID], [SkillID], [RequiredRank]) VALUES (1, 1, 15, 5)
INSERT [dbo].[PerkLevelSkillRequirements] ([PerkLevelSkillRequirementID], [PerkLevelID], [SkillID], [RequiredRank]) VALUES (2, 2, 15, 10)
INSERT [dbo].[PerkLevelSkillRequirements] ([PerkLevelSkillRequirementID], [PerkLevelID], [SkillID], [RequiredRank]) VALUES (3, 3, 15, 15)
SET IDENTITY_INSERT [dbo].[PerkLevelSkillRequirements] OFF
INSERT [dbo].[Perks] ([PerkID], [Name], [FeatID], [IsActive], [JavaScriptName], [BaseManaCost], [BaseCastingTime], [Description], [PerkCategoryID], [CooldownCategoryID], [IsQueuedWeaponSkill]) VALUES (1, N'Speedy Builder', NULL, 1, N'Construction.SpeedyBuilder', 0, 0, N'You occasionally receive haste for 8 seconds while building structures.', 1, NULL, 0)
INSERT [dbo].[Perks] ([PerkID], [Name], [FeatID], [IsActive], [JavaScriptName], [BaseManaCost], [BaseCastingTime], [Description], [PerkCategoryID], [CooldownCategoryID], [IsQueuedWeaponSkill]) VALUES (2, N'Mangle Master', NULL, 1, N'Construction.MangleMaster', 0, 0, N'Reduces your chance to mangle materials when you build structures above your skill level.', 1, NULL, 0)
INSERT [dbo].[Perks] ([PerkID], [Name], [FeatID], [IsActive], [JavaScriptName], [BaseManaCost], [BaseCastingTime], [Description], [PerkCategoryID], [CooldownCategoryID], [IsQueuedWeaponSkill]) VALUES (3, N'Conservative Construction', NULL, 1, N'Construction.ConservativeConstruction', 0, 0, N'You occasionally do not use up a resource while building structures.', 1, NULL, 0)
INSERT [dbo].[QuestTypeDomain] ([QuestTypeID], [Name]) VALUES (0, N'None')
INSERT [dbo].[QuestTypeDomain] ([QuestTypeID], [Name]) VALUES (1, N'Kill Enemies')
INSERT [dbo].[QuestTypeDomain] ([QuestTypeID], [Name]) VALUES (2, N'Talk to NPC')
INSERT [dbo].[ServerConfiguration] ([ServerConfigurationID], [ServerName], [MessageOfTheDay]) VALUES (1, N'Freescape', N'Welcome to Freescape!')
INSERT [dbo].[SkillCategories] ([SkillCategoryID], [Name], [IsActive], [Sequence]) VALUES (1, N'Melee Combat', 1, 1)
INSERT [dbo].[SkillCategories] ([SkillCategoryID], [Name], [IsActive], [Sequence]) VALUES (2, N'Ranged Combat', 1, 2)
INSERT [dbo].[SkillCategories] ([SkillCategoryID], [Name], [IsActive], [Sequence]) VALUES (3, N'Defense', 1, 3)
INSERT [dbo].[Skills] ([SkillID], [SkillCategoryID], [Name], [MaxRank], [IsActive], [Description], [Primary], [Secondary], [Tertiary]) VALUES (1, 1, N'One-Handed', 100, 1, N'Ability to use one-handed weapons like long swords and clubs. Higher skill levels unlock more powerful one-handed weapons.', 1, 2, 0)
INSERT [dbo].[Skills] ([SkillID], [SkillCategoryID], [Name], [MaxRank], [IsActive], [Description], [Primary], [Secondary], [Tertiary]) VALUES (2, 1, N'Two-Handed', 100, 1, N'Ability to use heavy weapons like great swords and heavy flails in combat. Higher skill levels unlock more powerful two-handed weapons.', 1, 3, 0)
INSERT [dbo].[Skills] ([SkillID], [SkillCategoryID], [Name], [MaxRank], [IsActive], [Description], [Primary], [Secondary], [Tertiary]) VALUES (3, 1, N'Twin Blades', 100, 1, N'Ability to use double edged weapons like two-bladed swords in combat. Higher skill levels unlock more powerful twin blade weapons.', 1, 3, 0)
SET IDENTITY_INSERT [dbo].[SkillXPRequirement] ON 

INSERT [dbo].[SkillXPRequirement] ([SkillXPRequirementID], [SkillID], [Rank], [XP]) VALUES (1, 1, 0, 500)
INSERT [dbo].[SkillXPRequirement] ([SkillXPRequirementID], [SkillID], [Rank], [XP]) VALUES (2, 1, 1, 750)
INSERT [dbo].[SkillXPRequirement] ([SkillXPRequirementID], [SkillID], [Rank], [XP]) VALUES (3, 1, 2, 1000)
GO
SET IDENTITY_INSERT [dbo].[SkillXPRequirement] OFF
INSERT [dbo].[StructureBlueprints] ([StructureBlueprintID], [StructureCategoryID], [Name], [Description], [Resref], [IsActive], [IsTerritoryFlag], [IsUseable], [ItemStorageCount], [MaxStructuresCount], [MaxBuildDistance], [ResearchSlots], [RPPerSecond], [Level], [PerkID], [RequiredPerkLevel], [GivesSkillXP]) VALUES (1, 1, N'Basic Territory Flag', N'', N'terr_flag_1', 1, 1, 0, 0, 20, 10, 0, 0, 1, 5, 0, 1)
INSERT [dbo].[StructureBlueprints] ([StructureBlueprintID], [StructureCategoryID], [Name], [Description], [Resref], [IsActive], [IsTerritoryFlag], [IsUseable], [ItemStorageCount], [MaxStructuresCount], [MaxBuildDistance], [ResearchSlots], [RPPerSecond], [Level], [PerkID], [RequiredPerkLevel], [GivesSkillXP]) VALUES (2, 1, N'Large Territory Flag', N'', N'terr_flag_2', 1, 1, 0, 0, 40, 20, 0, 0, 20, 5, 2, 1)
INSERT [dbo].[StructureBlueprints] ([StructureBlueprintID], [StructureCategoryID], [Name], [Description], [Resref], [IsActive], [IsTerritoryFlag], [IsUseable], [ItemStorageCount], [MaxStructuresCount], [MaxBuildDistance], [ResearchSlots], [RPPerSecond], [Level], [PerkID], [RequiredPerkLevel], [GivesSkillXP]) VALUES (3, 45, N'Obelisk, Large', N'', N'x0_obelisk', 1, 0, 0, 0, 0, 0, 0, 0, 38, 4, 4, 1)
GO
SET IDENTITY_INSERT [dbo].[StructureCategories] ON 

INSERT [dbo].[StructureCategories] ([StructureCategoryID], [Name], [Description], [IsActive], [IsTerritoryFlagCategory]) VALUES (1, N'Territory Flags', N'', 1, 1)
INSERT [dbo].[StructureCategories] ([StructureCategoryID], [Name], [Description], [IsActive], [IsTerritoryFlagCategory]) VALUES (39, N'Altars', N'', 1, 0)
INSERT [dbo].[StructureCategories] ([StructureCategoryID], [Name], [Description], [IsActive], [IsTerritoryFlagCategory]) VALUES (40, N'Flooring', N'', 1, 0)
SET IDENTITY_INSERT [dbo].[StructureCategories] OFF
SET IDENTITY_INSERT [dbo].[StructureComponents] ON 

INSERT [dbo].[StructureComponents] ([StructureComponentID], [StructureBlueprintID], [Resref], [Quantity]) VALUES (1, 1, N'elm_wood', 15)
INSERT [dbo].[StructureComponents] ([StructureComponentID], [StructureBlueprintID], [Resref], [Quantity]) VALUES (2, 1, N'nails', 5)
INSERT [dbo].[StructureComponents] ([StructureComponentID], [StructureBlueprintID], [Resref], [Quantity]) VALUES (3, 108, N'elm_wood', 15)
GO
SET IDENTITY_INSERT [dbo].[StructureComponents] OFF
SET IDENTITY_INSERT [dbo].[StructureQuickBuildAudit] ON 

INSERT [dbo].[StructureQuickBuildAudit] ([StructureQuickBuildID], [PCTerritoryFlagID], [PCTerritoryFlagStructureID], [DMName], [DateBuilt]) VALUES (1, NULL, 196, N'[DM] Zunath', CAST(N'2018-03-13T15:51:01.3720000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[StructureQuickBuildAudit] OFF
INSERT [dbo].[TerritoryFlagPermissions] ([TerritoryFlagPermissionID], [Name], [IsActive], [IsSelectable]) VALUES (0, N'None', 1, 0)
INSERT [dbo].[TerritoryFlagPermissions] ([TerritoryFlagPermissionID], [Name], [IsActive], [IsSelectable]) VALUES (1, N'Can Use Structures', 1, 1)
INSERT [dbo].[TerritoryFlagPermissions] ([TerritoryFlagPermissionID], [Name], [IsActive], [IsSelectable]) VALUES (2, N'Can Build Structures', 1, 1)
ALTER TABLE [dbo].[Attributes] ADD  DEFAULT ((0)) FOR [NWNValue]
GO
ALTER TABLE [dbo].[Attributes] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[ChatChannelsDomain] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[ChatLog] ADD  DEFAULT ('') FOR [SenderAccountName]
GO
ALTER TABLE [dbo].[ChatLog] ADD  DEFAULT ('') FOR [SenderCDKey]
GO
ALTER TABLE [dbo].[ChatLog] ADD  DEFAULT ('') FOR [Message]
GO
ALTER TABLE [dbo].[ChatLog] ADD  DEFAULT (getutcdate()) FOR [DateSent]
GO
ALTER TABLE [dbo].[ClientLogEvents] ADD  DEFAULT (getutcdate()) FOR [DateOfEvent]
GO
ALTER TABLE [dbo].[ConstructionSiteComponents] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[CooldownCategories] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[CooldownCategories] ADD  DEFAULT ((0.0)) FOR [BaseCooldownTime]
GO
ALTER TABLE [dbo].[Creatures] ADD  DEFAULT ((0.0)) FOR [DifficultyRating]
GO
ALTER TABLE [dbo].[Creatures] ADD  DEFAULT ((0.0)) FOR [XPModifier]
GO
ALTER TABLE [dbo].[Downloads] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Downloads] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Downloads] ADD  DEFAULT ('') FOR [Url]
GO
ALTER TABLE [dbo].[Downloads] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [AC]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [ItemTypeID]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [RecommendedLevel]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [LoggingBonus]
GO
ALTER TABLE [dbo].[Items] ADD  DEFAULT ((0)) FOR [MiningBonus]
GO
ALTER TABLE [dbo].[ItemTypes] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[PCKeyItems] ADD  CONSTRAINT [df_PCKeyItems_AcquiredDate]  DEFAULT (getutcdate()) FOR [AcquiredDate]
GO
ALTER TABLE [dbo].[PCPerks] ADD  DEFAULT (getutcdate()) FOR [AcquiredDate]
GO
ALTER TABLE [dbo].[PCPerks] ADD  DEFAULT ((0)) FOR [PerkLevel]
GO
ALTER TABLE [dbo].[PCRegionalFame] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[PCSkills] ADD  DEFAULT ((0)) FOR [XP]
GO
ALTER TABLE [dbo].[PCSkills] ADD  DEFAULT ((0)) FOR [Rank]
GO
ALTER TABLE [dbo].[PCSkills] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
ALTER TABLE [dbo].[PCTerritoryFlags] ADD  CONSTRAINT [df_PCTerritoryFlags_BuildPrivacySettingID]  DEFAULT ((1)) FOR [BuildPrivacySettingID]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructures] ADD  CONSTRAINT [df_PCTerritoryFlagsStructures_CreateDate]  DEFAULT (getutcdate()) FOR [CreateDate]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructuresResearchQueues] ADD  DEFAULT (getutcdate()) FOR [StartDateTime]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructuresResearchQueues] ADD  DEFAULT ((0)) FOR [IsCanceled]
GO
ALTER TABLE [dbo].[PerkCategories] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[PerkCategories] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[PerkCategories] ADD  DEFAULT ((0)) FOR [Sequence]
GO
ALTER TABLE [dbo].[PerkLevels] ADD  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[PerkLevels] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[PerkLevels] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[PerkLevelSkillRequirements] ADD  CONSTRAINT [DF__PerkSkill__Requi__278EDA44]  DEFAULT ((0)) FOR [RequiredRank]
GO
ALTER TABLE [dbo].[Perks] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Perks] ADD  DEFAULT ((0)) FOR [FeatID]
GO
ALTER TABLE [dbo].[Perks] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Perks] ADD  DEFAULT ('') FOR [JavaScriptName]
GO
ALTER TABLE [dbo].[Perks] ADD  DEFAULT ((0)) FOR [BaseManaCost]
GO
ALTER TABLE [dbo].[Perks] ADD  DEFAULT ((0.0)) FOR [BaseCastingTime]
GO
ALTER TABLE [dbo].[Perks] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Perks] ADD  DEFAULT ((0)) FOR [IsQueuedWeaponSkill]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  CONSTRAINT [df_PlayerCharacters_CreateTimestamp]  DEFAULT (getutcdate()) FOR [CreateTimestamp]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [MaxMana]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [CurrentMana]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [CurrentManaTick]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [RevivalStoneCount]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ('') FOR [RespawnAreaTag]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0.0)) FOR [RespawnLocationX]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0.0)) FOR [RespawnLocationY]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0.0)) FOR [RespawnLocationZ]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0.0)) FOR [RespawnLocationOrientation]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT (dateadd(hour,(72),getutcdate())) FOR [DateSanctuaryEnds]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [IsSanctuaryOverrideEnabled]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [STRBase]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [DEXBase]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [CONBase]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [INTBase]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [WISBase]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [CHABase]
GO
ALTER TABLE [dbo].[PlayerCharacters] ADD  DEFAULT ((0)) FOR [TotalSPAcquired]
GO
ALTER TABLE [dbo].[Quests] ADD  DEFAULT ((0)) FOR [AllowRewardSelection]
GO
ALTER TABLE [dbo].[Quests] ADD  DEFAULT ((0)) FOR [IsRepeatable]
GO
ALTER TABLE [dbo].[Quests] ADD  DEFAULT ((0)) FOR [RemoveStartKeyItemAfterCompletion]
GO
ALTER TABLE [dbo].[QuestStates] ADD  DEFAULT ((0)) FOR [IsFinalState]
GO
ALTER TABLE [dbo].[ResearchBlueprints] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ResearchBlueprints] ADD  DEFAULT ((0)) FOR [Price]
GO
ALTER TABLE [dbo].[ResearchBlueprints] ADD  DEFAULT ((0)) FOR [ResearchPoints]
GO
ALTER TABLE [dbo].[ResearchBlueprints] ADD  DEFAULT ((0)) FOR [SkillRequired]
GO
ALTER TABLE [dbo].[ServerConfiguration] ADD  DEFAULT ('') FOR [ServerName]
GO
ALTER TABLE [dbo].[ServerConfiguration] ADD  DEFAULT ('') FOR [MessageOfTheDay]
GO
ALTER TABLE [dbo].[SkillCategories] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[SkillCategories] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SkillCategories] ADD  DEFAULT ((0)) FOR [Sequence]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ('') FOR [Name]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ((0)) FOR [MaxRank]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ('') FOR [Description]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ('') FOR [Primary]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ('') FOR [Secondary]
GO
ALTER TABLE [dbo].[Skills] ADD  DEFAULT ('') FOR [Tertiary]
GO
ALTER TABLE [dbo].[SpawnTableCreatures] ADD  DEFAULT ((0)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SpawnTableCreatures] ADD  DEFAULT ((0)) FOR [Weight]
GO
ALTER TABLE [dbo].[SpawnTableCreatures] ADD  DEFAULT ((0)) FOR [MaxNumberInArea]
GO
ALTER TABLE [dbo].[SpawnTableCreatures] ADD  DEFAULT ((0)) FOR [DifficultyRating]
GO
ALTER TABLE [dbo].[StructureBlueprints] ADD  DEFAULT ((0)) FOR [ResearchSlots]
GO
ALTER TABLE [dbo].[StructureBlueprints] ADD  DEFAULT ((0)) FOR [RPPerSecond]
GO
ALTER TABLE [dbo].[StructureBlueprints] ADD  DEFAULT ((0)) FOR [Level]
GO
ALTER TABLE [dbo].[StructureBlueprints] ADD  DEFAULT ((0)) FOR [RequiredPerkLevel]
GO
ALTER TABLE [dbo].[StructureBlueprints] ADD  DEFAULT ((0)) FOR [GivesSkillXP]
GO
ALTER TABLE [dbo].[StructureComponents] ADD  DEFAULT ('') FOR [Resref]
GO
ALTER TABLE [dbo].[StructureComponents] ADD  DEFAULT ((0)) FOR [Quantity]
GO
ALTER TABLE [dbo].[StructureQuickBuildAudit] ADD  DEFAULT ('') FOR [DMName]
GO
ALTER TABLE [dbo].[StructureQuickBuildAudit] ADD  DEFAULT (getutcdate()) FOR [DateBuilt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((3)) FOR [RoleID]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getutcdate()) FOR [DateRegistered]
GO
ALTER TABLE [dbo].[ChatLog]  WITH CHECK ADD  CONSTRAINT [fk_ChatLog_ChatChannelID] FOREIGN KEY([ChatChannelID])
REFERENCES [dbo].[ChatChannelsDomain] ([ChatChannelID])
GO
ALTER TABLE [dbo].[ChatLog] CHECK CONSTRAINT [fk_ChatLog_ChatChannelID]
GO
ALTER TABLE [dbo].[ChatLog]  WITH CHECK ADD  CONSTRAINT [fk_ChatLog_ReceiverPlayerID] FOREIGN KEY([ReceiverPlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[ChatLog] CHECK CONSTRAINT [fk_ChatLog_ReceiverPlayerID]
GO
ALTER TABLE [dbo].[ChatLog]  WITH CHECK ADD  CONSTRAINT [fk_ChatLog_SenderPlayerID] FOREIGN KEY([SenderPlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[ChatLog] CHECK CONSTRAINT [fk_ChatLog_SenderPlayerID]
GO
ALTER TABLE [dbo].[ClientLogEvents]  WITH CHECK ADD  CONSTRAINT [FK_ClientLogEvents_ClientLogEventTypeID] FOREIGN KEY([ClientLogEventTypeID])
REFERENCES [dbo].[ClientLogEventTypesDomain] ([ClientLogEventTypeID])
GO
ALTER TABLE [dbo].[ClientLogEvents] CHECK CONSTRAINT [FK_ClientLogEvents_ClientLogEventTypeID]
GO
ALTER TABLE [dbo].[ClientLogEvents]  WITH CHECK ADD  CONSTRAINT [FK_ClientLogEvents_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[ClientLogEvents] CHECK CONSTRAINT [FK_ClientLogEvents_PlayerID]
GO
ALTER TABLE [dbo].[ConstructionSiteComponents]  WITH CHECK ADD  CONSTRAINT [FK_ConstructionSiteComponents_ConstructionSiteID] FOREIGN KEY([ConstructionSiteID])
REFERENCES [dbo].[ConstructionSites] ([ConstructionSiteID])
GO
ALTER TABLE [dbo].[ConstructionSiteComponents] CHECK CONSTRAINT [FK_ConstructionSiteComponents_ConstructionSiteID]
GO
ALTER TABLE [dbo].[ConstructionSiteComponents]  WITH CHECK ADD  CONSTRAINT [FK_ConstructionSiteComponents_StructureComponentID] FOREIGN KEY([StructureComponentID])
REFERENCES [dbo].[StructureComponents] ([StructureComponentID])
GO
ALTER TABLE [dbo].[ConstructionSiteComponents] CHECK CONSTRAINT [FK_ConstructionSiteComponents_StructureComponentID]
GO
ALTER TABLE [dbo].[ConstructionSites]  WITH CHECK ADD  CONSTRAINT [fk_ConstructionSites_PCTerritoryFlagID] FOREIGN KEY([PCTerritoryFlagID])
REFERENCES [dbo].[PCTerritoryFlags] ([PCTerritoryFlagID])
GO
ALTER TABLE [dbo].[ConstructionSites] CHECK CONSTRAINT [fk_ConstructionSites_PCTerritoryFlagID]
GO
ALTER TABLE [dbo].[ConstructionSites]  WITH CHECK ADD  CONSTRAINT [fk_ConstructionSites_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[ConstructionSites] CHECK CONSTRAINT [fk_ConstructionSites_PlayerID]
GO
ALTER TABLE [dbo].[ConstructionSites]  WITH CHECK ADD  CONSTRAINT [fk_ConstructionSites_StructureBlueprintID] FOREIGN KEY([StructureBlueprintID])
REFERENCES [dbo].[StructureBlueprints] ([StructureBlueprintID])
GO
ALTER TABLE [dbo].[ConstructionSites] CHECK CONSTRAINT [fk_ConstructionSites_StructureBlueprintID]
GO
ALTER TABLE [dbo].[CraftBlueprintComponents]  WITH CHECK ADD  CONSTRAINT [fk_CraftBlueprintComponents_CraftBlueprintID] FOREIGN KEY([CraftBlueprintID])
REFERENCES [dbo].[CraftBlueprints] ([CraftBlueprintID])
GO
ALTER TABLE [dbo].[CraftBlueprintComponents] CHECK CONSTRAINT [fk_CraftBlueprintComponents_CraftBlueprintID]
GO
ALTER TABLE [dbo].[CraftBlueprints]  WITH CHECK ADD  CONSTRAINT [fk_CraftBlueprints_CraftCategoryID] FOREIGN KEY([CraftCategoryID])
REFERENCES [dbo].[CraftBlueprintCategories] ([CraftBlueprintCategoryID])
GO
ALTER TABLE [dbo].[CraftBlueprints] CHECK CONSTRAINT [fk_CraftBlueprints_CraftCategoryID]
GO
ALTER TABLE [dbo].[CraftBlueprints]  WITH CHECK ADD  CONSTRAINT [fk_CraftBlueprints_CraftID] FOREIGN KEY([CraftID])
REFERENCES [dbo].[Crafts] ([CraftID])
GO
ALTER TABLE [dbo].[CraftBlueprints] CHECK CONSTRAINT [fk_CraftBlueprints_CraftID]
GO
ALTER TABLE [dbo].[Items]  WITH CHECK ADD  CONSTRAINT [FK_Items_ItemType] FOREIGN KEY([ItemTypeID])
REFERENCES [dbo].[ItemTypes] ([ItemTypeID])
GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_ItemType]
GO
ALTER TABLE [dbo].[KeyItems]  WITH CHECK ADD  CONSTRAINT [fk_KeyItems_KeyItemCategoryID] FOREIGN KEY([KeyItemCategoryID])
REFERENCES [dbo].[KeyItemCategories] ([KeyItemCategoryID])
GO
ALTER TABLE [dbo].[KeyItems] CHECK CONSTRAINT [fk_KeyItems_KeyItemCategoryID]
GO
ALTER TABLE [dbo].[LootTableItems]  WITH CHECK ADD  CONSTRAINT [fk_LootTableItems_LootTableID] FOREIGN KEY([LootTableID])
REFERENCES [dbo].[LootTables] ([LootTableID])
GO
ALTER TABLE [dbo].[LootTableItems] CHECK CONSTRAINT [fk_LootTableItems_LootTableID]
GO
ALTER TABLE [dbo].[PCBlueprints]  WITH CHECK ADD  CONSTRAINT [fk_PCBlueprints_CraftBlueprintID] FOREIGN KEY([CraftBlueprintID])
REFERENCES [dbo].[CraftBlueprints] ([CraftBlueprintID])
GO
ALTER TABLE [dbo].[PCBlueprints] CHECK CONSTRAINT [fk_PCBlueprints_CraftBlueprintID]
GO
ALTER TABLE [dbo].[PCBlueprints]  WITH CHECK ADD  CONSTRAINT [fk_PCBlueprints_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCBlueprints] CHECK CONSTRAINT [fk_PCBlueprints_PlayerID]
GO
ALTER TABLE [dbo].[PCCooldowns]  WITH CHECK ADD  CONSTRAINT [fk_PCCooldowns_CooldownCategoryID] FOREIGN KEY([CooldownCategoryID])
REFERENCES [dbo].[CooldownCategories] ([CooldownCategoryID])
GO
ALTER TABLE [dbo].[PCCooldowns] CHECK CONSTRAINT [fk_PCCooldowns_CooldownCategoryID]
GO
ALTER TABLE [dbo].[PCCooldowns]  WITH CHECK ADD  CONSTRAINT [fk_PCCooldowns_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCCooldowns] CHECK CONSTRAINT [fk_PCCooldowns_PlayerID]
GO
ALTER TABLE [dbo].[PCCorpseItems]  WITH CHECK ADD  CONSTRAINT [fk_PCCorpseItems_PCCorpseID] FOREIGN KEY([PCCorpseID])
REFERENCES [dbo].[PCCorpses] ([PCCorpseID])
GO
ALTER TABLE [dbo].[PCCorpseItems] CHECK CONSTRAINT [fk_PCCorpseItems_PCCorpseID]
GO
ALTER TABLE [dbo].[PCCustomEffects]  WITH CHECK ADD  CONSTRAINT [fk_PCCustomEffects_CustomEffectID] FOREIGN KEY([CustomEffectID])
REFERENCES [dbo].[CustomEffects] ([CustomEffectID])
GO
ALTER TABLE [dbo].[PCCustomEffects] CHECK CONSTRAINT [fk_PCCustomEffects_CustomEffectID]
GO
ALTER TABLE [dbo].[PCCustomEffects]  WITH CHECK ADD  CONSTRAINT [fk_PCCustomEffects_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCCustomEffects] CHECK CONSTRAINT [fk_PCCustomEffects_PlayerID]
GO
ALTER TABLE [dbo].[PCKeyItems]  WITH CHECK ADD  CONSTRAINT [fk_PCKeyItems_KeyItemID] FOREIGN KEY([KeyItemID])
REFERENCES [dbo].[KeyItems] ([KeyItemID])
GO
ALTER TABLE [dbo].[PCKeyItems] CHECK CONSTRAINT [fk_PCKeyItems_KeyItemID]
GO
ALTER TABLE [dbo].[PCKeyItems]  WITH CHECK ADD  CONSTRAINT [fk_PCKeyItems_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCKeyItems] CHECK CONSTRAINT [fk_PCKeyItems_PlayerID]
GO
ALTER TABLE [dbo].[PCMigrationItems]  WITH CHECK ADD  CONSTRAINT [fk_PCMigrationItems_BaseItemTypeID] FOREIGN KEY([BaseItemTypeID])
REFERENCES [dbo].[BaseItemTypes] ([BaseItemTypeID])
GO
ALTER TABLE [dbo].[PCMigrationItems] CHECK CONSTRAINT [fk_PCMigrationItems_BaseItemTypeID]
GO
ALTER TABLE [dbo].[PCMigrationItems]  WITH CHECK ADD  CONSTRAINT [fk_PCMigrationItems_PCMigrationID] FOREIGN KEY([PCMigrationID])
REFERENCES [dbo].[PCMigrations] ([PCMigrationID])
GO
ALTER TABLE [dbo].[PCMigrationItems] CHECK CONSTRAINT [fk_PCMigrationItems_PCMigrationID]
GO
ALTER TABLE [dbo].[PCOutfits]  WITH CHECK ADD  CONSTRAINT [fk_PCOutfits_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCOutfits] CHECK CONSTRAINT [fk_PCOutfits_PlayerID]
GO
ALTER TABLE [dbo].[PCOverflowItems]  WITH CHECK ADD  CONSTRAINT [fk_PCOverflowItems_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCOverflowItems] CHECK CONSTRAINT [fk_PCOverflowItems_PlayerID]
GO
ALTER TABLE [dbo].[PCPerks]  WITH CHECK ADD  CONSTRAINT [fk_PCPerks_PerkID] FOREIGN KEY([PerkID])
REFERENCES [dbo].[Perks] ([PerkID])
GO
ALTER TABLE [dbo].[PCPerks] CHECK CONSTRAINT [fk_PCPerks_PerkID]
GO
ALTER TABLE [dbo].[PCPerks]  WITH CHECK ADD  CONSTRAINT [fk_PCPerks_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCPerks] CHECK CONSTRAINT [fk_PCPerks_PlayerID]
GO
ALTER TABLE [dbo].[PCQuestKillTargetProgress]  WITH CHECK ADD  CONSTRAINT [FK_PCQuestKillTargetProgress_NPCGroupID] FOREIGN KEY([NPCGroupID])
REFERENCES [dbo].[NPCGroups] ([NPCGroupID])
GO
ALTER TABLE [dbo].[PCQuestKillTargetProgress] CHECK CONSTRAINT [FK_PCQuestKillTargetProgress_NPCGroupID]
GO
ALTER TABLE [dbo].[PCQuestKillTargetProgress]  WITH CHECK ADD  CONSTRAINT [FK_PCQuestKillTargetProgress_PCQuestStatusID] FOREIGN KEY([PCQuestStatusID])
REFERENCES [dbo].[PCQuestStatus] ([PCQuestStatusID])
GO
ALTER TABLE [dbo].[PCQuestKillTargetProgress] CHECK CONSTRAINT [FK_PCQuestKillTargetProgress_PCQuestStatusID]
GO
ALTER TABLE [dbo].[PCQuestKillTargetProgress]  WITH CHECK ADD  CONSTRAINT [FK_PCQuestKillTargetProgress_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCQuestKillTargetProgress] CHECK CONSTRAINT [FK_PCQuestKillTargetProgress_PlayerID]
GO
ALTER TABLE [dbo].[PCQuestStatus]  WITH CHECK ADD  CONSTRAINT [FK_PCQuestStatus_CurrentQuestStateID] FOREIGN KEY([CurrentQuestStateID])
REFERENCES [dbo].[QuestStates] ([QuestStateID])
GO
ALTER TABLE [dbo].[PCQuestStatus] CHECK CONSTRAINT [FK_PCQuestStatus_CurrentQuestStateID]
GO
ALTER TABLE [dbo].[PCQuestStatus]  WITH CHECK ADD  CONSTRAINT [FK_PCQuestStatus_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCQuestStatus] CHECK CONSTRAINT [FK_PCQuestStatus_PlayerID]
GO
ALTER TABLE [dbo].[PCQuestStatus]  WITH CHECK ADD  CONSTRAINT [FK_PCQuestStatus_QuestID] FOREIGN KEY([QuestID])
REFERENCES [dbo].[Quests] ([QuestID])
GO
ALTER TABLE [dbo].[PCQuestStatus] CHECK CONSTRAINT [FK_PCQuestStatus_QuestID]
GO
ALTER TABLE [dbo].[PCQuestStatus]  WITH CHECK ADD  CONSTRAINT [FK_PCQuestStatus_SelectedRewardID] FOREIGN KEY([SelectedItemRewardID])
REFERENCES [dbo].[QuestRewardItems] ([QuestRewardItemID])
GO
ALTER TABLE [dbo].[PCQuestStatus] CHECK CONSTRAINT [FK_PCQuestStatus_SelectedRewardID]
GO
ALTER TABLE [dbo].[PCRegionalFame]  WITH CHECK ADD  CONSTRAINT [FK_PCRegionalFame_FameRegionID] FOREIGN KEY([FameRegionID])
REFERENCES [dbo].[FameRegions] ([FameRegionID])
GO
ALTER TABLE [dbo].[PCRegionalFame] CHECK CONSTRAINT [FK_PCRegionalFame_FameRegionID]
GO
ALTER TABLE [dbo].[PCRegionalFame]  WITH CHECK ADD  CONSTRAINT [FK_PCRegionalFame_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCRegionalFame] CHECK CONSTRAINT [FK_PCRegionalFame_PlayerID]
GO
ALTER TABLE [dbo].[PCSearchSiteItems]  WITH CHECK ADD  CONSTRAINT [fk_PCSearchSiteItems_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCSearchSiteItems] CHECK CONSTRAINT [fk_PCSearchSiteItems_PlayerID]
GO
ALTER TABLE [dbo].[PCSearchSites]  WITH CHECK ADD  CONSTRAINT [fk_PCSearchSites_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCSearchSites] CHECK CONSTRAINT [fk_PCSearchSites_PlayerID]
GO
ALTER TABLE [dbo].[PCSkills]  WITH CHECK ADD  CONSTRAINT [FK_PCSkills_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCSkills] CHECK CONSTRAINT [FK_PCSkills_PlayerID]
GO
ALTER TABLE [dbo].[PCSkills]  WITH CHECK ADD  CONSTRAINT [FK_PCSkills_SkillID] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[PCSkills] CHECK CONSTRAINT [FK_PCSkills_SkillID]
GO
ALTER TABLE [dbo].[PCTerritoryFlags]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlags_BuildPrivacySettingID] FOREIGN KEY([BuildPrivacySettingID])
REFERENCES [dbo].[BuildPrivacyDomain] ([BuildPrivacyTypeID])
GO
ALTER TABLE [dbo].[PCTerritoryFlags] CHECK CONSTRAINT [fk_PCTerritoryFlags_BuildPrivacySettingID]
GO
ALTER TABLE [dbo].[PCTerritoryFlags]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlags_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCTerritoryFlags] CHECK CONSTRAINT [fk_PCTerritoryFlags_PlayerID]
GO
ALTER TABLE [dbo].[PCTerritoryFlags]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlags_StructureBlueprintID] FOREIGN KEY([StructureBlueprintID])
REFERENCES [dbo].[StructureBlueprints] ([StructureBlueprintID])
GO
ALTER TABLE [dbo].[PCTerritoryFlags] CHECK CONSTRAINT [fk_PCTerritoryFlags_StructureBlueprintID]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsPermissions]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlagsPermissions_PCTerritoryFlagID] FOREIGN KEY([PCTerritoryFlagID])
REFERENCES [dbo].[PCTerritoryFlags] ([PCTerritoryFlagID])
GO
ALTER TABLE [dbo].[PCTerritoryFlagsPermissions] CHECK CONSTRAINT [fk_PCTerritoryFlagsPermissions_PCTerritoryFlagID]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsPermissions]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlagsPermissions_PlayerID] FOREIGN KEY([PlayerID])
REFERENCES [dbo].[PlayerCharacters] ([PlayerID])
GO
ALTER TABLE [dbo].[PCTerritoryFlagsPermissions] CHECK CONSTRAINT [fk_PCTerritoryFlagsPermissions_PlayerID]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsPermissions]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlagsPermissions_TerritoryFlagPermissionID] FOREIGN KEY([TerritoryFlagPermissionID])
REFERENCES [dbo].[TerritoryFlagPermissions] ([TerritoryFlagPermissionID])
GO
ALTER TABLE [dbo].[PCTerritoryFlagsPermissions] CHECK CONSTRAINT [fk_PCTerritoryFlagsPermissions_TerritoryFlagPermissionID]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructures]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlagsStructures_PCTerritoryFlagID] FOREIGN KEY([PCTerritoryFlagID])
REFERENCES [dbo].[PCTerritoryFlags] ([PCTerritoryFlagID])
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructures] CHECK CONSTRAINT [fk_PCTerritoryFlagsStructures_PCTerritoryFlagID]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructures]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlagsStructures_StructureBlueprintID] FOREIGN KEY([StructureBlueprintID])
REFERENCES [dbo].[StructureBlueprints] ([StructureBlueprintID])
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructures] CHECK CONSTRAINT [fk_PCTerritoryFlagsStructures_StructureBlueprintID]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructuresItems]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlagsStructuresItems_PCStructureID] FOREIGN KEY([PCStructureID])
REFERENCES [dbo].[PCTerritoryFlagsStructures] ([PCTerritoryFlagStructureID])
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructuresItems] CHECK CONSTRAINT [fk_PCTerritoryFlagsStructuresItems_PCStructureID]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructuresResearchQueues]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlagsStructuresResearchQueues_PCStructureID] FOREIGN KEY([PCStructureID])
REFERENCES [dbo].[PCTerritoryFlagsStructures] ([PCTerritoryFlagStructureID])
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructuresResearchQueues] CHECK CONSTRAINT [fk_PCTerritoryFlagsStructuresResearchQueues_PCStructureID]
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructuresResearchQueues]  WITH CHECK ADD  CONSTRAINT [fk_PCTerritoryFlagsStructuresResearchQueues_ResearchBlueprintID] FOREIGN KEY([ResearchBlueprintID])
REFERENCES [dbo].[ResearchBlueprints] ([ResearchBlueprintID])
GO
ALTER TABLE [dbo].[PCTerritoryFlagsStructuresResearchQueues] CHECK CONSTRAINT [fk_PCTerritoryFlagsStructuresResearchQueues_ResearchBlueprintID]
GO
ALTER TABLE [dbo].[PerkLevels]  WITH CHECK ADD  CONSTRAINT [FK_PerkLevels_PerkID] FOREIGN KEY([PerkID])
REFERENCES [dbo].[Perks] ([PerkID])
GO
ALTER TABLE [dbo].[PerkLevels] CHECK CONSTRAINT [FK_PerkLevels_PerkID]
GO
ALTER TABLE [dbo].[PerkLevelSkillRequirements]  WITH CHECK ADD  CONSTRAINT [FK_PerkLevelSkillRequirements_PerkLevelID] FOREIGN KEY([PerkLevelID])
REFERENCES [dbo].[PerkLevels] ([PerkLevelID])
GO
ALTER TABLE [dbo].[PerkLevelSkillRequirements] CHECK CONSTRAINT [FK_PerkLevelSkillRequirements_PerkLevelID]
GO
ALTER TABLE [dbo].[PerkLevelSkillRequirements]  WITH CHECK ADD  CONSTRAINT [FK_PerkLevelSkillRequirements_SkillID] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[PerkLevelSkillRequirements] CHECK CONSTRAINT [FK_PerkLevelSkillRequirements_SkillID]
GO
ALTER TABLE [dbo].[Perks]  WITH CHECK ADD  CONSTRAINT [fk_Perks_CooldownCategoryID] FOREIGN KEY([CooldownCategoryID])
REFERENCES [dbo].[CooldownCategories] ([CooldownCategoryID])
GO
ALTER TABLE [dbo].[Perks] CHECK CONSTRAINT [fk_Perks_CooldownCategoryID]
GO
ALTER TABLE [dbo].[Perks]  WITH CHECK ADD  CONSTRAINT [fk_Perks_PerkCategoryID] FOREIGN KEY([PerkCategoryID])
REFERENCES [dbo].[PerkCategories] ([PerkCategoryID])
GO
ALTER TABLE [dbo].[Perks] CHECK CONSTRAINT [fk_Perks_PerkCategoryID]
GO
ALTER TABLE [dbo].[QuestKillTargetList]  WITH CHECK ADD  CONSTRAINT [FK_QuestKillTargetList_NPCGroupID] FOREIGN KEY([NPCGroupID])
REFERENCES [dbo].[NPCGroups] ([NPCGroupID])
GO
ALTER TABLE [dbo].[QuestKillTargetList] CHECK CONSTRAINT [FK_QuestKillTargetList_NPCGroupID]
GO
ALTER TABLE [dbo].[QuestKillTargetList]  WITH CHECK ADD  CONSTRAINT [FK_QuestKillTargetList_QuestID] FOREIGN KEY([QuestID])
REFERENCES [dbo].[Quests] ([QuestID])
GO
ALTER TABLE [dbo].[QuestKillTargetList] CHECK CONSTRAINT [FK_QuestKillTargetList_QuestID]
GO
ALTER TABLE [dbo].[QuestKillTargetList]  WITH CHECK ADD  CONSTRAINT [FK_QuestKillTargetList_QuestStateID] FOREIGN KEY([QuestStateID])
REFERENCES [dbo].[QuestStates] ([QuestStateID])
GO
ALTER TABLE [dbo].[QuestKillTargetList] CHECK CONSTRAINT [FK_QuestKillTargetList_QuestStateID]
GO
ALTER TABLE [dbo].[QuestPrerequisites]  WITH CHECK ADD  CONSTRAINT [FK_QuestPrerequisites_QuestID] FOREIGN KEY([QuestID])
REFERENCES [dbo].[Quests] ([QuestID])
GO
ALTER TABLE [dbo].[QuestPrerequisites] CHECK CONSTRAINT [FK_QuestPrerequisites_QuestID]
GO
ALTER TABLE [dbo].[QuestPrerequisites]  WITH CHECK ADD  CONSTRAINT [FK_QuestPrerequisites_RequiredQuestID] FOREIGN KEY([RequiredQuestID])
REFERENCES [dbo].[Quests] ([QuestID])
GO
ALTER TABLE [dbo].[QuestPrerequisites] CHECK CONSTRAINT [FK_QuestPrerequisites_RequiredQuestID]
GO
ALTER TABLE [dbo].[QuestRequiredItemList]  WITH CHECK ADD  CONSTRAINT [FK_QuestRequiredItemList] FOREIGN KEY([QuestStateID])
REFERENCES [dbo].[QuestStates] ([QuestStateID])
GO
ALTER TABLE [dbo].[QuestRequiredItemList] CHECK CONSTRAINT [FK_QuestRequiredItemList]
GO
ALTER TABLE [dbo].[QuestRequiredItemList]  WITH CHECK ADD  CONSTRAINT [FK_QuestRequiredItemList_QuestID] FOREIGN KEY([QuestID])
REFERENCES [dbo].[Quests] ([QuestID])
GO
ALTER TABLE [dbo].[QuestRequiredItemList] CHECK CONSTRAINT [FK_QuestRequiredItemList_QuestID]
GO
ALTER TABLE [dbo].[QuestRequiredKeyItemList]  WITH CHECK ADD  CONSTRAINT [FK_QuestRequiredKeyItemList] FOREIGN KEY([QuestStateID])
REFERENCES [dbo].[QuestStates] ([QuestStateID])
GO
ALTER TABLE [dbo].[QuestRequiredKeyItemList] CHECK CONSTRAINT [FK_QuestRequiredKeyItemList]
GO
ALTER TABLE [dbo].[QuestRequiredKeyItemList]  WITH CHECK ADD  CONSTRAINT [FK_QuestRequiredKeyItemList_KeyItemID] FOREIGN KEY([KeyItemID])
REFERENCES [dbo].[KeyItems] ([KeyItemID])
GO
ALTER TABLE [dbo].[QuestRequiredKeyItemList] CHECK CONSTRAINT [FK_QuestRequiredKeyItemList_KeyItemID]
GO
ALTER TABLE [dbo].[QuestRequiredKeyItemList]  WITH CHECK ADD  CONSTRAINT [FK_QuestRequiredKeyItemList_QuestID] FOREIGN KEY([QuestID])
REFERENCES [dbo].[Quests] ([QuestID])
GO
ALTER TABLE [dbo].[QuestRequiredKeyItemList] CHECK CONSTRAINT [FK_QuestRequiredKeyItemList_QuestID]
GO
ALTER TABLE [dbo].[QuestRewardItems]  WITH CHECK ADD  CONSTRAINT [FK_QuestRewards_QuestID] FOREIGN KEY([QuestID])
REFERENCES [dbo].[Quests] ([QuestID])
GO
ALTER TABLE [dbo].[QuestRewardItems] CHECK CONSTRAINT [FK_QuestRewards_QuestID]
GO
ALTER TABLE [dbo].[Quests]  WITH CHECK ADD  CONSTRAINT [FK_Quests_FameRegionID] FOREIGN KEY([FameRegionID])
REFERENCES [dbo].[FameRegions] ([FameRegionID])
GO
ALTER TABLE [dbo].[Quests] CHECK CONSTRAINT [FK_Quests_FameRegionID]
GO
ALTER TABLE [dbo].[Quests]  WITH CHECK ADD  CONSTRAINT [FK_Quests_RewardKeyItemID] FOREIGN KEY([RewardKeyItemID])
REFERENCES [dbo].[KeyItems] ([KeyItemID])
GO
ALTER TABLE [dbo].[Quests] CHECK CONSTRAINT [FK_Quests_RewardKeyItemID]
GO
ALTER TABLE [dbo].[Quests]  WITH CHECK ADD  CONSTRAINT [FK_Quests_TemporaryKeyItemID] FOREIGN KEY([StartKeyItemID])
REFERENCES [dbo].[KeyItems] ([KeyItemID])
GO
ALTER TABLE [dbo].[Quests] CHECK CONSTRAINT [FK_Quests_TemporaryKeyItemID]
GO
ALTER TABLE [dbo].[QuestStates]  WITH CHECK ADD  CONSTRAINT [FK_QuestStates_QuestID] FOREIGN KEY([QuestID])
REFERENCES [dbo].[Quests] ([QuestID])
GO
ALTER TABLE [dbo].[QuestStates] CHECK CONSTRAINT [FK_QuestStates_QuestID]
GO
ALTER TABLE [dbo].[QuestStates]  WITH CHECK ADD  CONSTRAINT [FK_QuestStates_QuestTypeID] FOREIGN KEY([QuestTypeID])
REFERENCES [dbo].[QuestTypeDomain] ([QuestTypeID])
GO
ALTER TABLE [dbo].[QuestStates] CHECK CONSTRAINT [FK_QuestStates_QuestTypeID]
GO
ALTER TABLE [dbo].[ResearchBlueprints]  WITH CHECK ADD  CONSTRAINT [fk_ResearchBlueprints_BlueprintID] FOREIGN KEY([CraftBlueprintID])
REFERENCES [dbo].[CraftBlueprints] ([CraftBlueprintID])
GO
ALTER TABLE [dbo].[ResearchBlueprints] CHECK CONSTRAINT [fk_ResearchBlueprints_BlueprintID]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK_Skills_Primary] FOREIGN KEY([Primary])
REFERENCES [dbo].[Attributes] ([AttributeID])
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK_Skills_Primary]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK_Skills_Secondary] FOREIGN KEY([Secondary])
REFERENCES [dbo].[Attributes] ([AttributeID])
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK_Skills_Secondary]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK_Skills_SkillCategoryID] FOREIGN KEY([SkillCategoryID])
REFERENCES [dbo].[SkillCategories] ([SkillCategoryID])
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK_Skills_SkillCategoryID]
GO
ALTER TABLE [dbo].[Skills]  WITH CHECK ADD  CONSTRAINT [FK_Skills_Tertiary] FOREIGN KEY([Tertiary])
REFERENCES [dbo].[Attributes] ([AttributeID])
GO
ALTER TABLE [dbo].[Skills] CHECK CONSTRAINT [FK_Skills_Tertiary]
GO
ALTER TABLE [dbo].[SkillXPRequirement]  WITH CHECK ADD  CONSTRAINT [FK_SkillXPRequirement_SkillID] FOREIGN KEY([SkillID])
REFERENCES [dbo].[Skills] ([SkillID])
GO
ALTER TABLE [dbo].[SkillXPRequirement] CHECK CONSTRAINT [FK_SkillXPRequirement_SkillID]
GO
ALTER TABLE [dbo].[SpawnTableCreatures]  WITH CHECK ADD  CONSTRAINT [fk_SpawnTableCreatures_LootTableID] FOREIGN KEY([LootTableID])
REFERENCES [dbo].[LootTables] ([LootTableID])
GO
ALTER TABLE [dbo].[SpawnTableCreatures] CHECK CONSTRAINT [fk_SpawnTableCreatures_LootTableID]
GO
ALTER TABLE [dbo].[SpawnTableCreatures]  WITH CHECK ADD  CONSTRAINT [fk_SpawnTableCreatures_SpawnTableID] FOREIGN KEY([SpawnTableID])
REFERENCES [dbo].[SpawnTables] ([SpawnTableID])
GO
ALTER TABLE [dbo].[SpawnTableCreatures] CHECK CONSTRAINT [fk_SpawnTableCreatures_SpawnTableID]
GO
ALTER TABLE [dbo].[StorageItems]  WITH CHECK ADD  CONSTRAINT [fk_StorageItems_StorageContainerID] FOREIGN KEY([StorageContainerID])
REFERENCES [dbo].[StorageContainers] ([StorageContainerID])
GO
ALTER TABLE [dbo].[StorageItems] CHECK CONSTRAINT [fk_StorageItems_StorageContainerID]
GO
ALTER TABLE [dbo].[StructureBlueprints]  WITH CHECK ADD  CONSTRAINT [FK_StructureBlueprints_PerkID] FOREIGN KEY([PerkID])
REFERENCES [dbo].[Perks] ([PerkID])
GO
ALTER TABLE [dbo].[StructureBlueprints] CHECK CONSTRAINT [FK_StructureBlueprints_PerkID]
GO
ALTER TABLE [dbo].[StructureBlueprints]  WITH CHECK ADD  CONSTRAINT [fk_StructureBlueprints_StructureCategoryID] FOREIGN KEY([StructureCategoryID])
REFERENCES [dbo].[StructureCategories] ([StructureCategoryID])
GO
ALTER TABLE [dbo].[StructureBlueprints] CHECK CONSTRAINT [fk_StructureBlueprints_StructureCategoryID]
GO
ALTER TABLE [dbo].[StructureComponents]  WITH CHECK ADD  CONSTRAINT [FK_StructureComponents_StructureBlueprintID] FOREIGN KEY([StructureBlueprintID])
REFERENCES [dbo].[StructureBlueprints] ([StructureBlueprintID])
GO
ALTER TABLE [dbo].[StructureComponents] CHECK CONSTRAINT [FK_StructureComponents_StructureBlueprintID]
GO
ALTER TABLE [dbo].[StructureQuickBuildAudit]  WITH CHECK ADD  CONSTRAINT [FK_StructureQuickBuildAudit_PCTerritoryFlagID] FOREIGN KEY([PCTerritoryFlagID])
REFERENCES [dbo].[PCTerritoryFlags] ([PCTerritoryFlagID])
GO
ALTER TABLE [dbo].[StructureQuickBuildAudit] CHECK CONSTRAINT [FK_StructureQuickBuildAudit_PCTerritoryFlagID]
GO
ALTER TABLE [dbo].[StructureQuickBuildAudit]  WITH CHECK ADD  CONSTRAINT [FK_StructureQuickBuildAudit_PCTerritoryFlagStructureID] FOREIGN KEY([PCTerritoryFlagStructureID])
REFERENCES [dbo].[PCTerritoryFlagsStructures] ([PCTerritoryFlagStructureID])
GO
ALTER TABLE [dbo].[StructureQuickBuildAudit] CHECK CONSTRAINT [FK_StructureQuickBuildAudit_PCTerritoryFlagStructureID]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [fk_Users_RoleID] FOREIGN KEY([RoleID])
REFERENCES [dbo].[DMRoleDomain] ([DMRoleDomainID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [fk_Users_RoleID]
GO
USE [master]
GO
